.ProfilePageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .btnWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .editBtn {
    margin-left: 10px;
  }
}

.btnsWrapper {
  margin-left: auto;
}

